nav .navActive{
	background-color:rgb(255,255,0);
}

nav .navCompleted{
	background-color:rgb(0,255,0);
}

.requiredMissing{
	outline: 2px solid rgba(230,0,0,.5);
}

.patternInvalid{
	outline: 2px solid rgba(230,0,0,.5);
}